[Unit]
Description=Cardputer Zero Greeter
After=systemd-user-sessions.service zero-splash.service

[Service]
ExecStart=/usr/local/bin/zero-greeter
Restart=always
RestartSec=1
StandardInput=null
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
